<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/79356824-2c20-4a32-8b66-28aa19bff406/resourcegroups/azapisevendays-rg/providers/Microsoft.ContainerRegistry/registries/registry20200328202126</ContainerResourceId>
    <ContainerResourceName>registry20200328202126</ContainerResourceName>
    <Subscription>Visual Studio Professional</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20200328202126.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/79356824-2c20-4a32-8b66-28aa19bff406/resourcegroups/azapisevendays-rg/providers/Microsoft.Web/sites/SevenDaysChallenge</ResourceId>
    <ResourceGroup>azapisevendays-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sevendayschallenge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://sevendayschallenge.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>45756bf7-5d17-4adf-9c33-cfb3aa3372cd</ProjectGuid>
  </PropertyGroup>
</Project>